@model IEnumerable<Eshop.Web.Models.Categories.CategoryViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddCategory", "Categories", FormMethod.Post))
{
@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Category name")
            @Html.TextBox("categoryName")
        </div>
        <div class="col-md-3">
            <input type="submit" value="Create" />
        </div>
    </div>
    <div class="row">
        <table summary="" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <div class="col-md-3">
                            <select aria-activedescendant="fcat_option_20081" id="fcat" name="fcat" size="13">
                                @foreach (var category in Model)
                                {
                                    var parentId = category.ParentId == null ? -1 : category.ParentId;

                                    <option value="@category.Name" id="@category.Id" data-parent-id="@parentId" role="option">@category.Name</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}

