@using Eshop.Web.Models
@using Eshop.Web.Models.Categories
@using Eshop.Web.Infrastructure;

@model Eshop.Web.Models.Categories.CategoriesTreeModel

@{
    var unorderedListId = string.Empty;

    if (ViewData["unorderedListId"] == null)
    {
        unorderedListId = "categories";
    }
}

@if (Model.Categories.Any(s => s.ParentId == Model.Seed))
{
    <ul id="@unorderedListId">

        @foreach (var category in Model.Categories)
        {
            if (category.ParentId == Model.Seed)
            {
                CategoriesTreeModel inner = new CategoriesTreeModel {Seed = category.Id, Categories = Model.Categories};

                <li>
                    @Html.ActionLink(@category.Name.GetCategoryResourceByName(), "ByCategory", "Items", null,  new { data_cat_id="@category.Id"})
                    @Html.Partial("_CategoriesRecursion", inner, new ViewDataDictionary {{"unorderedListId", "someValue"}})
                </li>
            }
        }
    </ul>
}