<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Capricho Candles Art</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/Content/theme-css")
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Content/Theme/colors/green.css" id="colors">
    <link rel="stylesheet" href="~/Content/Site.css"/>
    @RenderSection("overridingStyles", required: false)
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
    <div id="wrapper">
        @Html.Partial("Partials/_TopBar")
        <div class="clearfix"></div>
        @Html.Partial("Partials/_Header")
        @Html.Partial("Partials/_Navigation")
        @Html.Partial("Partials/_TitleBar")

        @if (this.TempData["Alert"] != null)
        {
            <div class="alert alert-danger notification-label" role="alert">@this.TempData["Alert"]</div>
        }
        @if (this.TempData["Notification"] != null)
        {
            <div class="alert alert-success notification-label" role="alert">@this.TempData["Notification"]</div>
        }

        <div class="container">
            @RenderBody()
        </div>
        <div class="margin-top-15"></div>

        @Html.Partial("Partials/_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/theme-scripts")
    @RenderSection("scripts", required: false)
    <script>
    $(function () {
        var notificationLabel = $('.notification-label');
        if (notificationLabel.length !== 0) {
            notificationLabel.delay(3000).fadeOut(200);
        }
    });
    </script>
</body>
</html>