@using Resources;

@model Eshop.Web.Models.Items.ItemBindingModel
    
<fieldset>
    <legend>@ItemsResources.AddItemTitle</legend>
    <div class="form-group">
        @Html.LabelFor(x => x.Title, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.EditorFor(x => x.Title, new { @class = "form-control", placeholder = "Title" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Description, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextAreaFor(x => x.Description, new { @class="form-control", rows = "6" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Quantity, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.EditorFor(x => x.Quantity)
        </div>
    </div>


        @Html.LabelFor(x => x.DiscountPercentage)
        @Html.EditorFor(x => x.DiscountPercentage)


        @Html.LabelFor(x => x.Price, new { @class = "col-lg-2 control-label" })
        @Html.EditorFor(x => x.Price)


    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</fieldset>